body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 13px;
}
li, td {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 13px;
}
hr {
	color: $3333cc;
}
a {
	color: #000;
}
div.formblock {
	background: #ccc;
	width: 300px;
	padding: 6px;
	border: 1px solid  #000;
}

.logoImg {
	height: 55px;
	width: 57px;
	float: left;
	padding-right: 6px;
}